<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Yep</title>
</head>
<body>
 <div class="container">
  <h1>Great</h1>
  <body>
   <p><%=data[:message]%></p>
 </body>
 <form method="get" action="/">
   <input type="submit" value="Back to Home">
 </form>
</div>
</body>
</html>
